<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)] = "person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Vick'">
    La persona es Victoria
  </p>
  <p *ngSwitchCase="'Aurora'">
    La persona es Aurora
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />
<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<ul>
  <!--Escribe “No hay nombres” cuando el array se queda vacío-->
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Victoria'"> Victoria </p>
<p *ngIf="person.name === 'Vick' && person.age === 22; else elseBlock">Vick</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>


<hr />
<h1>NgModel</h1>
<!-- required es una propiedad de HTML para incluir si o si algo,
  #nameInput le da un nombre al input,
  ="ngModel" le dice a la plantilla que tiene que verificarlo como ngModel,
[(ngModel)] le dice a la plantilla que haga la verificación de doble vía típica de ngModel,
= "person.name" le dice que variable debe validar,
nameInput.valid le dice que valide de acuerdo a las reglas de HTML el input llamado nameInput-->
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)] = "person.name" style="margin-top: 10px;"/>
<p>Valid: {{ nameInput.valid }}</p>

<!--type="number le dice que valide que solo sea un número,
  max le dice que valide que el número no sea mayor de 28,
  min valida que el número no sea menor que 18"-->
<p>Age: {{ person.age }}</p>
<input type="number" max="28" min="18" required #ageInput="ngModel" [(ngModel)] = "person.age" style="margin-top: 10px;"/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled" style="margin-left:10px">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}} </p>
<button (click)="increaseAge()">Edad++</button>

<!--Cuando se ejecutará un elemento HTML nativo, se le pasa a Angular
con el signo de $-->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptas quibusdam ab tempore placeat porro, esse necessitatibus dolorem, sint dolores ducimus consequatur qui non ratione distinctio, fuga incidunt odit? Necessitatibus?</p>
  <p>Molestias eum officia saepe iste, culpa porro provident voluptate at, quae sapiente mollitia impedit earum voluptates quidem! Assumenda labore provident accusamus non cum optio beatae laborum aliquid quo, quasi qui.</p>
  <p>Aut aperiam nemo, sint quia accusantium pariatur eveniet voluptatem ipsam, nobis animi tempora nostrum? Unde ullam perferendis reiciendis facere ad magnam hic qui, amet consectetur, possimus recusandae. Inventore, error nam.</p>
  <p>Illo ratione nobis eius dicta deleniti molestias optio, incidunt, cum suscipit laborum nam ut accusamus laboriosam asperiores earum vero laudantium perferendis voluptates possimus veniam consectetur dignissimos assumenda. Odit, quia laboriosam!</p>
  <p>Magni nam cupiditate similique temporibus earum iure debitis. Soluta repellendus magni nam esse excepturi. In nostrum alias facere. Ea excepturi reprehenderit unde at praesentium totam accusamus eligendi, explicabo iusto provident!</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" style="margin-top: 10px;"/>
<p>Nombre: {{ person.name }}</p>

<hr>
<h1> Propiedades</h1>
<button [disabled]="btnDisabled" style="margin-left:10px">Enviar</button>
<input type="text" [value]="person.name" style="margin-left:10px">
<progress max="100" [value]="person.age" style="margin-left:10px"></progress>
<img width="100" [src]="person.avatar" style="margin-left:10px">

<!-- Con las llaves se puede también
hacer uso de código JS, no es un
simple h2, h1, etc. -->
<hr>
<h1>Hola mundo</h1>
<h2> {{ 'Hola'.repeat(5)}} </h2>
<p>3 + 3 = {{ 3+3 }}</p>

<h3>Hola, soy {{name}} y tengo {{age}}</h3>
<img src={{img}} />
